* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 72.2px;
    background-color:rgb(129, 93, 10) ;
}
.container_header{
    width: 1330px;
    height: 72.2px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 15px;
    padding-right: 15px;
}
.logo{
    width: 150px;
    height: 72.2px;
    display: flex;
    align-items: center;
}
.nav_header{
    width: 100%;
    height: 72.2px;
    display: flex;
}
.ul_header{
    width: 800px;
    height: 72.2px;
    
    display: inline-block;
    padding-left: 150px;
}
.ul_header>li{
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    padding-top: 12px;
    height:  72.2px;

}
.ul_header>li>a{
    text-decoration: none;
    color: white;
    position: relative;
    line-height: 50px;
    display: block;
}
.ul_header>li:hover>a{
    color: rgb(253, 220, 141);
}
.ul_header>li>a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    
    top: 35px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  .ul_header>li>a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.product{
    position: relative;
}
.nav_product{
    display: none  ;
    position: absolute;
    width: 170px;
    overflow: hidden;
    border-radius: 4px;
    top: 73px;
    animation: animation_menu ease 0.6s;
    box-shadow: 10 100 5 rgb(0, 0, 0) !important;
    
}
.nav_product>.nav_menu_product{
    list-style: none;
    background-color: rgb(249, 249, 249);
    height: 50px;
    border-bottom:1px solid rgb(183, 182, 182);
}
.nav_menu_product:nth-child(3){
    border-bottom: none;
}
.nav_product>.nav_menu_product>a{
    text-decoration: none;
    line-height: 50px;
    padding-left: 15px;
    display: block;
}

@keyframes animation_menu{
    from{
        opacity: 0px;
        top: 60px;
    }to{
        opacity: 1px;
        top: 73px
    }
}
.product:hover>.nav_product{
    display: block;
}
.container_input_header{
width: 370px;
height: 72.2px;
display: inline-block;
padding-top: 18px;
}
.button_header{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
.input_header{
    width: 180px;
    height: 35px;
    border-radius: 4px;
    border-color: rgb(142, 106, 8);
    margin-bottom: 10px;
    float: left;
}
.input_header:focus{
    background-color: rgb(255, 255, 255);
}
.button_header>i{
    font-size: 25px;
    padding-top: 5px;
    color: white;
}

#Slider {
    overflow: hidden;
}

.slider-container {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
}

.slider-container img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dot-container {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.dot-container .dot{
    width: 127px;
    height: 150px;
    margin-right: 20px;
    padding: 24px;
    opacity: 0.6;
    cursor: pointer;
}
.dot.active, .dot:hover {
    opacity: 1;
}


